{% extends "login_layout.html" %}

{% block content %}
    <div class="flex p-4 m-6 justify-center">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="/change/password" >
             <div class="mb-4">
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" type="hidden" value="{{email}}">
          </div>
            <div id="CheckEmail" style="color:red; font-size:14px; margin-top: -5px; margin-bottom: 5px;"></div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Change your password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password">
          </div>
            <div id="password_output" style="color:red; font-size:14px; margin-top: -25px; margin-bottom: 25px;"></div>
          <div class="mb-6" style="margin-top:-14px;">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm_password">
              Confirm password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="confirm_password" name="confirm_password" type="password">
          </div>
            <div id="confirm_password_output" style="color:red; font-size:14px; margin-top: -25px; margin-bottom: 25px;"></div>
          <div class="flex items-center justify-between">
            <button type="submit" id="button_submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Change
            </button>
          </div>
        </form>
      </div>
<script>
          function CheckPassword() {
                  var password = $("#password").val();
                  var confirmPassword = $("#confirm_password").val();
                  var disabled_button = $("#button_submit").prop('disabled', true);

                  if (password.length != 0 && confirmPassword.length != 0 && password == confirmPassword && password.length >= 6 && password.length <= 16){
                      $("#password_output").html("");
                      $("#confirm_password_output").html("");
                      $("#button_submit").prop('disabled', false)}
                  else if (password != confirmPassword && confirmPassword.length != 0){
                      $("#confirm_password_output").html("Passwords does not match");
                      disabled_button}
                  else if (password.length < 6){
                      $("#password_output").html("Minimum 6 characters");
                      disabled_button}
                  else if (password.length >= 6 && password.length <= 16){
                      $("#password_output").html("")}
                  else if (password.length > 16){
                      $("#password_output").html("Maximum 16 characters")}
              }

          $(document).ready(function () {
                $("#password").keyup(CheckPassword);
                $("#confirm_password").keyup(CheckPassword);
          });

          function check() {
            $(document).ready(function () {
                var username = $("#username").val();
                var password = $("#password").val();
                var confirmPassword = $("#confirm_password").val();
                if (username.length == 0){
                     $("#button_submit").prop('disabled', true)}
                else if (password.length == 0){
                     $("#button_submit").prop('disabled', true)}
                else if (confirmPassword.length == 0){
                     $("#button_submit").prop('disabled', true)}
            setTimeout(check, 500);
            })};

            check();
</script>
{% endblock %}