{% extends "login_layout.html" %}

{% block content %}
    <div class="flex p-4 m-6 justify-center">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="/auth/login" >
          <div class="mb-4">
            <div style="font-size: 18px; margin-bottom: 15px;">It looks like you are not registered <br>with us yet. <a href="/signup" style="color: #0099ff; font-weight:500; font-size:19px;"> Sign up</a></div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" type="text">
          </div>
            <div id="invalid1" style="color:red; font-size:14px; margin-top: -13px; margin-bottom: 10px;"></div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password">
          </div>
            <div id="invalid2" style="color:red; font-size:14px; margin-top: -30px; margin-bottom: 13px;"></div>
          <div class="flex items-center justify-between">
            <button type="submit" id="button_submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Sign In
            </button>
          </div>
        </form>
      </div>

<script>
check();

function check() {
    $(document).ready(function () {
        var username = $("#username").val();
        var password = $("#password").val();
        if (password.length == 0 && username.length != 0){
             $("#button_submit").prop('disabled', true)
             $('#invalid1').html('')
             $('#invalid2').html('Invalid password or username')}
        else if (password.length != 0 && username.length == 0){
             $("#button_submit").prop('disabled', true)
             $('#invalid1').html('Invalid password or username')
             $('#invalid2').html('')}
        else if (username.length == 0){
             $("#button_submit").prop('disabled', true)
             $('#invalid1').html('Invalid password or username')
             $('#invalid2').html('Invalid password or username')}
        else if (password.length == 0){
             $("#button_submit").prop('disabled', true)
             $('#invalid1').html('Invalid password or username')
             $('#invalid2').html('Invalid password or username')}
        else {
            $("#button_submit").prop('disabled', false);
            $('#invalid1').html('')
            $('#invalid2').html('')}
    setTimeout(check, 500);
    })};
</script>
{% endblock %}
