<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEA</title>
    <link rel="stylesheet" href="https://unpkg.com/twinklecss@1.1.0/twinkle.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style="background-image: url('https://cdn.dribbble.com/users/3558835/screenshots/9197759/media/335937b8347f24d2e860dfb52312f1a2.jpg?compress=1&resize=400x300')">
            {% block content %}
            {% endblock %}
</body>
</html>