{% extends "login_layout.html" %}

{% block content %}
    <div class="flex p-4 m-6 justify-center">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4" style="text-align:center;">
            <div style="font-size:25px;">You have successfully registered!</div>
            <div class="flex items-center justify-between">
                <a href="/" style="color: #0099ff; font-weight: 100px; margin-top:20px; font-size:27px;">Login</a>
            </div>
        </div>
        </form>
      </div>
{% endblock %}